#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

#forms{
  float: right;
}

#scoreArea{
	text-align:center;
	padding: 3px;
	margin: 3px;
	border-size: 1px;
	border-color: grey;
	border-style: solid;
	width:100px;
}