body {
	background-color: rgb(214, 234, 253);
	font-family: 'Sigmar One', cursive;
	min-width: 100vh;
}

.button {
	background-color: white;
	font-family: 'Sigmar One', cursive;
	width: 100px;
	height: 50px;
	border-radius: 8px;
}

input {
	height:30px;
	width:70px;
}

#scoresubmit {
	width:30%;
	margin:auto;
	text-align:center;
	display:none;

}

#header {
	text-align:center;
}

#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

#forms{
  float: right;
}

#b1 {
	width:30%;
	margin:auto;
}

#scoreArea{
	text-align:center;
}

#placeholder {
	margin:auto;
	width:70%;
	height: 40%;
	text-align: center;
}

#result{
	 height: 100px;
	 width: 100px;
}
#turns {
	text-align: center;
}
#game {
	height: 100px;
	width: 100px;
	text-align:center; 
	margin: 0 auto;
}
#inputs {
	width: 70%;
	text-align:center;
	margin: 0 auto;
}