body {
	font-family: 'Raleway', sans-serif;
	background-color: rgb(230, 243, 255);
}

.row {
 	margin-left: 20%;
}

#signup {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color: lightgrey;
	border-radius:10px;
}

#login {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	background-color: lightgrey;
	margin-left: 8%;
	border-radius:10px;
}

.row {
	margin-top: 50px;
}

.btn {
	margin-bottom: 10px;
	margin-left: 30%;
}

.navbar {
	background-color: white;
	border-width: 2px;
	border-color: grey;
}

#logo {
	height: 50px;
}

.form-group {
	width: 70%;
	margin-left: 10%;
}