body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(230, 243, 255);
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #7fb4ff;
    text-decoration: none;
}
canvas {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.border {
    border-width: 2px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
}

/*login page*/

.loginpage {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: #ddfffa;
}

.loginpage input[type=text] {
    width: 250px;
}


.loginpage label {
    margin-top: 10px;
}

.loginpage input[type=password] {
    width: 250px;
}

.loginpage p {
    margin-left: 350px;
}

.loginpage button {
    margin-top: 20px;
    margin-right: 10px;
}

/*group home*/

#additem {
    margin-top: 10px;
    padding: 10px;
}

.ghome {
    margin-top: 5px;
    background-color: white;
    height: 800px;
}

.guestlist {
    height: 60%;
    background-color: #dbffeb;
}

.guestlist .guests {
    height: 75%;
    overflow: scroll;
    background-color: white;
    margin-bottom: 10px;
}

.guestlist button {
    margin-top: 10px;
    display: block;
    margin: auto;
    padding: 10px;
}

.itemlist {
    height: 60%;
    background-color: #dbdfff;
}

.items {
    height: 75%;
    overflow: scroll;
    background-color: white;
}

.itemtable button {
    display: block;
    margin: auto;
    margin-left: 1px;
}

.pitchlist {
    height: 60%;
    background-color: #fae0ff;
    margin-bottom: 20px;
}

.pitches {
    height: 75%;
    overflow: scroll;
    background-color: white;
}

.pitchtable button {
    display: block;
    margin: auto;
}

.grouppay {
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #ddfffa;
}

#paypal-b {
    margin-left: 1px;
}

/*new group*/

#makegroup {
    margin-top: 20px;
}

#maingroup {
    border-width: 2px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
    height: 550px;
    margin-top: 20px;
    background-color: #f4f4f4;
}

/* user home */

.mainpage {
    margin-left: 20%;
    margin-top: 50px;
}

.home {
    border-width: 2px;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    padding: 5px;
    background-color: #ddfffa;

}

#events, #mygroups {
    border-width: 2px;
    border-color: grey;
    border-style: solid;
    height: 330px;
    background-color: white;
    margin: 10px;
}

#upcoming {
    margin-top: 80px;
    margin-right: 15px;
    height: 400px;
}

#currentgroups {
    margin-top: 80px;
    margin-left: 15px;
    height: 400px;
}

#newgroup {
    margin-top: 80px;
    margin-left: 15px;
    height: 190px;
}

#settings {
    margin-top: 20px;
    margin-left: 15px;
    height: 190px;
}

/*main page CSS */

.index-content {
    margin-left: 20%;
    margin-right: 20%;
    font-size:16px;
}

.index-content p {
    margin-top: 25px;
}

.index-content a {
    color:#333333;
}

.index-content a:hover {
    color: #b799ff;
    text-decoration: none;
}

.signup {
    background-color: #ddfffa;
    margin-right: 20%;
    padding-left: 100px;
    padding-right: 100px;

}

.signup h2 {
    margin-bottom: 20px;
}

.signup input {
    width:250px;
    margin-left: 10px;
    margin-right: 30%;
}

.signup label {
    width:100px;
    text-align: right;
}

.btn {
    margin-bottom: 10px;
    margin-left: 30%;
}

.navbar {
    background-color: white;
    border-width: 2px;
    border-color: grey;
}

#logo {
    height: 50px;
}

.form-group {
    width: 70%;
    margin-left: 10%;
}

#Invoice_Confirmation {
    text-align: center;
}
