<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Paypal Test</title>
	</head>

	<body>
		<h1>Payment Test</h1>

		<form action="paytest" method="post">
            {% csrf_token %}
			<label for="paymentAmount">Payment Amount</label> 
			<input id="paymentAmount" name="paymentAmount" type="text"></input> 
			<input type="submit"></input>
		</form>
		
		<h1>Payout Test</h1>
		<form action="paytest" method="post">
            {% csrf_token %}
			<label for="reimbursementAmount">Reimbursement Amount</label> 
			<input id="reimbursementAmount" name="reimbursementAmount" type="text"></input>
			<br><br>
			<label for="receiverEmail">Receiver Email</label>
			<input id="receiverEmail" name="receiverEmail" type="text"></input>
			<input type="submit"></input>
		</form>
		<br><br>Message: {{ message }}

		
	</body>
</html>